backend/.idea/backend.iml
backend/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
backend/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_15_4.xml
backend/.idea/libraries/Maven__com_google_code_gson_gson_2_10_1.xml
backend/.idea/libraries/Maven__com_h2database_h2_2_2_224.xml
backend/.idea/libraries/Maven__com_neovisionaries_nv_i18n_1_29.xml
backend/.idea/libraries/Maven__com_rabbitmq_amqp_client_5_19_0.xml
backend/.idea/libraries/Maven__io_micrometer_context_propagation_1_1_1.xml
backend/.idea/libraries/Maven__io_micrometer_micrometer_core_1_12_4.xml
backend/.idea/libraries/Maven__io_micrometer_micrometer_jakarta9_1_12_4.xml
backend/.idea/libraries/Maven__io_micrometer_micrometer_tracing_1_2_4.xml
backend/.idea/libraries/Maven__io_micrometer_micrometer_tracing_bridge_brave_1_2_4.xml
backend/.idea/libraries/Maven__io_swagger_core_v3_swagger_annotations_jakarta_2_2_20.xml
backend/.idea/libraries/Maven__io_swagger_core_v3_swagger_core_jakarta_2_2_20.xml
backend/.idea/libraries/Maven__io_swagger_core_v3_swagger_models_jakarta_2_2_20.xml
backend/.idea/libraries/Maven__io_zipkin_aws_brave_propagation_aws_0_23_5.xml
backend/.idea/libraries/Maven__io_zipkin_brave_brave_5_16_0.xml
backend/.idea/libraries/Maven__io_zipkin_brave_brave_context_slf4j_5_16_0.xml
backend/.idea/libraries/Maven__io_zipkin_brave_brave_instrumentation_http_5_16_0.xml
backend/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_3_0_2.xml
backend/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_13_0.xml
backend/.idea/libraries/Maven__org_apache_httpcomponents_client5_httpclient5_5_2_3.xml
backend/.idea/libraries/Maven__org_apache_httpcomponents_client5_httpclient5_cache_5_2_3.xml
backend/.idea/libraries/Maven__org_apache_httpcomponents_core5_httpcore5_5_2_4.xml
backend/.idea/libraries/Maven__org_apache_httpcomponents_core5_httpcore5_h2_5_2_4.xml
backend/.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_12.xml
backend/.idea/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
backend/.idea/libraries/Maven__org_mapstruct_mapstruct_1_5_5_Final.xml
backend/.idea/libraries/Maven__org_springdoc_springdoc_openapi_starter_common_2_4_0.xml
backend/.idea/libraries/Maven__org_springdoc_springdoc_openapi_starter_webmvc_api_2_4_0.xml
backend/.idea/libraries/Maven__org_springdoc_springdoc_openapi_starter_webmvc_ui_2_4_0.xml
backend/.idea/libraries/Maven__org_springframework_amqp_spring_amqp_3_1_3.xml
backend/.idea/libraries/Maven__org_springframework_amqp_spring_rabbit_3_1_3.xml
backend/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_3_2_4.xml
backend/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_3_2_4.xml
backend/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_3_2_4.xml
backend/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_amqp_3_2_4.xml
backend/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_3_2_4.xml
backend/.idea/libraries/Maven__org_springframework_retry_spring_retry_2_0_5.xml
backend/.idea/libraries/Maven__org_springframework_security_spring_security_config_6_2_3.xml
backend/.idea/libraries/Maven__org_springframework_security_spring_security_core_6_2_3.xml
backend/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_6_2_3.xml
backend/.idea/libraries/Maven__org_springframework_security_spring_security_test_6_2_3.xml
backend/.idea/libraries/Maven__org_springframework_security_spring_security_web_6_2_3.xml
backend/.idea/libraries/Maven__org_springframework_spring_messaging_6_1_5.xml
backend/.idea/libraries/Maven__org_webjars_swagger_ui_5_11_8.xml
backend/.idea/libraries/Maven__se_michaelthelin_spotify_spotify_web_api_java_8_3_6.xml
